@model MvcApplication.Logic.TestUser
@inject EposContext context
@{
    ViewData["Title"] = "Home Page";
    var departments = await context.Department.ToListAsync();
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@
@* <button class="btn btn-primary">Clicked 0 times</button> *@
@if (User.IsInRole("Admin"))
{
    <div class="col-md-8 m-auto">
        <table class="table">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Info</td>
            </tr>
            @foreach (var department in departments)
            {
                <tr>
                    <td>@department.Id</td>
                    <td>@department.Name</td>
                    <td>@department.Info</td>
                </tr>
            }
        </table>
    </div>
}
@if (User.IsInRole("User"))
{
    <div class="col-md-6 m-auto">
        <h1>The data form</h1>
        <form asp-action="IndexPost">
            <label class="form-label">Id</label>
            <input asp-for="Id" class="form-control" type="number" min="1" max="100" required>
            <label class="form-label">Name</label>
            <input asp-for="Name" class="form-control" type="text" minlength="3" maxlength="20" required>
            <label class="form-label">Birthdate</label>
            <input asp-for="Date" class="form-control mb-5" type="date" required>
            <input class="form-control" type="submit" value="Save the data">
        </form>
    </div>
}
<a asp-action="Privacy">Privacy</a>