@model MockUserDto
@{
    ViewData["Title"] = "Login";
}
<div class="col-md-6 m-auto">
    <form asp-action="LoginPost">
        @Html.HiddenFor(userDto => userDto.ReturnUrl)
        <div class="mb-3">
            <label class="form-label">UserName</label>
            <input asp-for="Login" class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input asp-for="Password" class="form-control"/>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>