@page "/counter"
<PageTitle>Counter</PageTitle>
<h1>Counter</h1>
<style>
    h1 {
        color: red;
    }
</style>
<button class="btn btn-primary" @onclick="IncrementCount">
    Current count: @_currentCount
</button>

@code {
    private int _currentCount;

    private void IncrementCount() => _currentCount++;

}