@page "/"

<PageTitle>Index</PageTitle>
<div class="someDiv">
<h1>Hello, world!</h1>
</div>
<br>
<h2>Welcome<br> to your new app.</h2>
<h3>Survey</h3>
<h4>How is Blazor working for you?</h4>
<h5>Great</h5>
<h6>Great</h6>
<p><i>Welcome</i> to your <b>new app.</b></p>
<a href="https://go.microsoft.com/fwlink/?linkid=2121525">
    Learn about Blazor
</a>
<ul>
    <li>Great1</li>
    <li>Great2</li>
    <li>Great3</li>
</ul>
<ol>
    <li>Great1</li>
    <li>Great2</li>
    <li>Great3</li>
</ol>
<img id="pict" src="favicon.png" alt="The app icon"/>
<table id="myTable" class="tableClass">
    <thead>
    <th>Great1</th>
    <th>Great2</th>
    </thead>
    <tbody>
    <tr>
        <td>Great3</td>
        <td>Great4</td>
    </tr>
    <tr>
        <td>Great5</td>
        <td>Great6</td>
    </tr>
    </tbody>
</table>